                                                MLP Regressor on Boston Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as sns

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

c:\Users\ACT\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [4]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [5]:
X = boston.data

In [6]:
y = boston.target

In [7]:
X.shape

(506, 13)

In [8]:
y.shape

(506,)

In [18]:
df = pd.DataFrame(
    X,y,columns=boston.feature_names
)

In [19]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
24.0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
21.6,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
34.7,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
33.4,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
36.2,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [22]:
# add target/price column

df['Price'] = boston.target

In [23]:
df.sample(n=7)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
11.9,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9
31.6,0.41238,0.0,6.20,0.0,0.504,7.163,79.9,3.2157,8.0,307.0,17.4,372.08,6.36,31.6
19.5,6.65492,0.0,18.10,0.0,0.713,6.317,83.0,2.7344,24.0,666.0,20.2,396.90,13.99,19.5
22.5,0.06466,70.0,2.24,0.0,0.400,6.345,20.1,7.8278,5.0,358.0,14.8,368.24,4.97,22.5
25.0,0.02875,28.0,15.04,0.0,0.464,6.211,28.9,3.6659,4.0,270.0,18.2,396.33,6.21,25.0
13.3,6.39312,0.0,18.10,0.0,0.584,6.162,97.4,2.2060,24.0,666.0,20.2,302.76,24.10,13.3
23.8,1.80028,0.0,19.58,0.0,0.605,5.877,79.2,2.4259,5.0,403.0,14.7,227.61,12.14,23.8

In [24]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CRIM,506.0,3.613524,8.601545,0.00632,0.082045,0.25651,3.677083,88.9762
ZN,506.0,11.363636,23.322453,0.00000,0.000000,0.00000,12.500000,100.0000
INDUS,506.0,11.136779,6.860353,0.46000,5.190000,9.69000,18.100000,27.7400
CHAS,506.0,0.069170,0.253994,0.00000,0.000000,0.00000,0.000000,1.0000
NOX,506.0,0.554695,0.115878,0.38500,0.449000,0.53800,0.624000,0.8710
RM,506.0,6.284634,0.702617,3.56100,5.885500,6.20850,6.623500,8.7800
AGE,506.0,68.574901,28.148861,2.90000,45.025000,77.50000,94.075000,100.0000
DIS,506.0,3.795043,2.105710,1.12960,2.100175,3.20745,5.188425,12.1265
RAD,506.0,9.549407,8.707259,1.00000,4.000000,5.00000,24.000000,24.0000
TAX,506.0,408.237154,168.537116,187.00000,279.000000,330.00000,666.000000,711.0000
PTRATIO,506.0,18.455534,2.164946,12.60000,17.400000,19.05000,20.200000,22.0000
B,506.0,356.674032,91.294864,0.32000,375.377500,391.44000,396.225000,396.9000
LSTAT,506.0,12.653063,7.141062,1.73000,6.950000,11.36000,16.955000,37.9700
Price,506.0,22.532806,9.197104,5.00000,17.025000,21.20000,25.000000,50.0000

In [25]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'Price'],
      dtype='object')

In [27]:
df.shape

(506, 14)

In [28]:
df.duplicated().sum().sum()

0

In [26]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
Price      float64
dtype: object

In [29]:
df.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
CRIM,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305
ZN,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445
INDUS,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725
CHAS,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260
NOX,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321
RM,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808,0.695360
AGE,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955
DIS,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929
RAD,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626
TAX,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536
PTRATIO,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787
B,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461
LSTAT,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663
Price,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.695360,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000

`Machine Learning`

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,y,test_size=0.2
)

In [10]:
X_train.shape

(404, 13)

In [11]:
X_test.shape

(102, 13)

`Model Training`

In [12]:
from sklearn.neural_network import MLPRegressor

mlp_reg = MLPRegressor(random_state=42)

In [13]:
mlp_reg.fit(X_train, y_train)

MLPRegressor(random_state=42)

In [14]:
y_pred = mlp_reg.predict(X_test)

In [15]:
# evaluating
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

print(mean_absolute_error(y_test, y_pred))
print(mean_squared_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

4.337338498741361
40.1215694657016
0.5451430675171565

                    55% accuracy

In [35]:
print("Loss:",mlp_reg.loss_)

Loss: 20.06873341891893

In [36]:
print("Number of Coefficents :", len(mlp_reg.coefs_))
[weights.shape for weights in mlp_reg.coefs_]

Number of Coefficents : 2

[(13, 100), (100, 1)]

In [37]:
print("Number of intecepts :",len(mlp_reg.intercepts_))
[intercepts.shape for intercepts in mlp_reg.intercepts_]

Number of intecepts : 2

[(100,), (1,)]

In [38]:
print("Number of iterations estimators run: ", mlp_reg.n_iter_)
print("name of output layer activation function: ", mlp_reg.out_activation_)

Number of iterations estimators run:  129
name of output layer activation function:  identity

`Hyperparameter Tuning`

In [40]:
import itertools
from sklearn.model_selection import GridSearchCV

reg= MLPRegressor(random_state = 42)
params= {'activation': ['relu','identity','tanh','logistic'],
        'hidden_layer_sizes': [50,100,150] + list(itertools.permutations([50,100,150],2)) + list(itertools.permutations([50,100,150],3)),
        'solver' : ['lbfgs','adam'],
        'learning_rate': ['constant','adaptive','invscaling']
        }

reg_grid = GridSearchCV(reg,param_grid = params,n_jobs= -1,verbose = 10,cv=5)
reg_grid.fit(X_train,y_train)

Fitting 5 folds for each of 360 candidates, totalling 1800 fits

c:\Users\ACT\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

GridSearchCV(cv=5, estimator=MLPRegressor(random_state=42), n_jobs=-1,
             param_grid={'activation': ['relu', 'identity', 'tanh', 'logistic'],
                         'hidden_layer_sizes': [50, 100, 150, (50, 100),
                                                (50, 150), (100, 50),
                                                (100, 150), (150, 50),
                                                (150, 100), (50, 100, 150),
                                                (50, 150, 100), (100, 50, 150),
                                                (100, 150, 50), (150, 50, 100),
                                                (150, 100, 50)],
                         'learning_rate': ['constant', 'adaptive',
                                           'invscaling'],
                         'solver': ['lbfgs', 'adam']},
             verbose=10)

In [42]:
print("Train score: ", reg_grid.score(X_train,y_train))
print("Test score: ", reg_grid.score(X_test,y_test))
print("Best R2 Score by grid search: ",reg_grid.best_score_)
print("Best Parameters: ", reg_grid.best_params_)
print("Best Estimators: ",reg_grid.best_estimator_)

Train score:  0.6418319113273293
Test score:  0.5662725360803817
Best R2 Score by grid search:  0.7343550513843808
Best Parameters:  {'activation': 'tanh', 'hidden_layer_sizes': (100, 50, 150), 'learning_rate': 'constant', 'solver': 'adam'}
Best Estimators:  MLPRegressor(activation='tanh', hidden_layer_sizes=(100, 50, 150),
             random_state=42)

                                73.43% accuracy

`Deployment`

In [41]:
import pickle

In [46]:
pickle.dump(reg_grid, open('reg_grid.pkl', 'wb'))

In [47]:
pickled_model = pickle.load(open('reg_grid.pkl', 'rb'))

`Prediction`

In [48]:
pickled_model.predict([[0.04741, 0.0, 11.93, 0.0, 0.573, 6.030, 80.8, 2.5050, 1.0, 273.0, 21.0, 396.90, 7.88]])

array([25.97230145])

In [49]:
pickled_model.predict([[0.41238, 0.0, 6.20, 0.0, 0.504, 7.163, 79.9, 3.2157, 8.0, 307.0, 17.4, 372.08, 6.36]])

array([28.60882001])